html{
    font-size: 100%;
}

body {
    background-color: rgb(165, 202, 203);
}

header{
    padding: 0px;
    text-align: center;
    background: rgb(119, 167, 167);
    color:black;
}

.navbar{
    overflow: hidden;
    background-color: rgb(67, 13, 78);
}
 
.navbar a {
    float: left;
    display: block;
    color:aqua;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

