* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

body {
    background-color: rgb(165, 202, 203);
}

.container{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header{
    padding: 0px;
    text-align: center;
    background-color: rgb(67, 13, 78);
    color:black;
}



nav{
    float: left;
}

.topnav{
    background-color: rgb(67, 13, 78);
    list-style-type: none;
    width: 100%;
    /*display: flex;*/
    margin: 0px;
    padding: 0px;
}

.topnav li{
    display: inline-block;
}

.topnav li a {
    float: left;
    display: block;
    color:aqua;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.content {
    padding: 10px 0;
}

.content h1{
    text-align: center;
}


